html, body {
  background-color: rgb(255, 255, 255);
}

.container {
    max-width: 960px;
}

.nav-menu{
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar {
    background-color: rgb(0, 89, 255);
}
.form-servicos, .form-coisas {
    display: none;
    margin-top: 5px;
}

.blue-card {
    border-radius: 5px;
    padding: 3% 3%;
    margin: 1% 0;
    background-color: rgb(96, 150, 221);
}

.green-card {
    border-radius: 5px;
    padding: 3% 0;
    margin: 1% 0;
    background-color: rgb(24, 152, 202);
}
.link-title {
    color: aliceblue;
    margin-bottom: 10%;
}

.reset-link {
    text-decoration: none;
    color:aliceblue;
}

.pedido-index {
    width: 30%;
}

.img-ajude {
    width: 80%;
}

.resultado-busca {
    box-shadow: 3px 3px 10px -3px black;
    width: 100%;
    background-color: rgb(24, 152, 202);
    margin: 3% 0;
}

.nav-links {
    max-width: 50%;
    background-color: rgb(0, 89, 255);
}

.nav-btn {
    border: 1px aliceblue solid;
    border-radius: 5px;
}

.nav-link {
    color:aliceblue !important;
}

.nav-link:hover {
    cursor: pointer;
}

.first-element {
    margin-top: 70px;
}

.index-menu {
    max-width: 80%;
}

.hover-card {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}
